/* resets
---------------------------------------------------------------------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
/*  custom properties
---------------------------------------------------------------------------- */
:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Roboto", sans-serif;
  --ff-header: "Roboto", sans-serif;

  --fw-reg: 100;
  --fw-medium: 300;
  --fw-bold: 500;
  --fw-header: 300;

  --clr-dark: #333;
  --clr-light: hsl(0, 0%, 90%);
  --clr-accent: rgb(71, 168, 41);
  --clr-background-orange: rgb(173, 128, 86);
  --clr-hover-light: #FFFFCC;
  --clr-footer: rgba(172, 209, 233, 1);

  --fs-h1: 2.1rem;
  --fs-h2: 1.8rem;
  --fs-h3: 1.35rem;
  --fs-body: 0.9rem;
  --fs-footer: .8rem;
}
@media (min-width: 900px) {
  :root {
      --fs-h1: 2.7rem;
      --fs-h2: 1.3rem;
      --fs-h3: 1rem;
      --fs-body: 1rem;
  }
}
/*
---------------------------------------------------------------------------- */
html {
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  font-family: var(--ff-primary);
  font-weight: var(--fw-reg);
  line-height: 1.6em;
  display: grid;
  align-content: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
  /* ff 3.6+ */
  background:-moz-linear-gradient(181deg, rgba(212, 160, 112, 1) 0%, rgba(189, 144, 208, 1) 100%);
  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(181deg, rgba(212, 160, 112, 1) 0%, rgba(189, 144, 208, 1) 100%);
  /* opera 11.10+ */
  background:-o-linear-gradient(181deg, rgba(212, 160, 112, 1) 0%, rgba(189, 144, 208, 1) 100%);
  /* ie 6-9 */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BD90D0', endColorstr='#D4A070', GradientType=1 );
  ie 10+ */
  background:-ms-linear-gradient(181deg, rgba(212, 160, 112, 1) 0%, rgba(189, 144, 208, 1) 100%);
  /* global 94%+ browsers support */
  background:linear-gradient(181deg, rgba(212, 160, 112, 1) 0%, rgba(189, 144, 208, 1) 100%);
}
/* topograpy
---------------------------------------------------------------------------- */
h1,
h2,
h3 {
  font-family: var(--ff-header);
  font-weight: var(--fw-header);
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
  text-align: center;
  text-transform: uppercase;
}
h3 {
  font-size: var(--fs-h3);
}
/* header.status-bar
---------------------------------------------------------------------------- */
.status-bar {
  min-width: 350px;
  color: var(--clr-light);
  font-weight: var(--fw-bold);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.step {
  position: relative;
}
.box-icon {
  width: 30px;
  height: 30px;
  background-color: var(--clr-light);
  color: var(--clr-background-orange);
  text-align: center;
  border-radius: 0.25rem;
  padding-top: .1rem;
  margin: 0 auto;
}
.icon-lit {
  background-color: var(--clr-accent);
  color: var(--clr-light);
}
.step span {
  line-height: 0.8rem;
  font-size: 0.7rem;
  text-transform: uppercase;
}
div[data-icon2]::before {
  content: "";
  display: block;
  position: relative;
  top: 13px;
  left: -94px;
  background-color: var(--clr-light);
  width: 94px;
  height: 3px;
}
div.lit-left[data-icon2]::before {
  background-color: var(--clr-accent);
}
div[data-icon2]::after {
  content: "";
  display: block;
  position: relative;
  top: -15px;
  left: 30px;
  background-color: var(--clr-light);
  width: 100px;
  height: 3px;
}
div.lit-right[data-icon2]::after {
  background-color: var(--clr-accent);
}
div.notlit[data-icon1] {
  background-color: var(--clr-light);
}
div.lit[data-icon2] {
  background-color: var(--clr-accent);
}
div.notlit[data-icon2] {
  background-color: var(--clr-light);
}
div.lit[data-icon3] {
  background-color: var(--clr-accent);
}
div.notlit[data-icon3] {
  background-color: var(--clr-light);
}
/* Slideshow container
---------------------------------------------------------------------------- */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the forms by default */
.mySlides {
  display: none;
}

/* form
---------------------------------------------------------------------------- */
.card {
  min-height: 450px;
  max-width: 400px;
  background-color: white;
  padding: 1.5rem;
  border: 1px solid #333;
  border-radius: 3px;
  margin: 0 auto;
  box-shadow: 0 0 7px rgb(99, 97, 97);
  animation: fade 250ms ease-in-out forwards;
}
.card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1rem;
  align-items: center;
}
h2 {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
}
h3.step-title {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
}
.form-group {
  grid-column-start: 1;
  grid-column-end: -1;
}
button[data-previous] {
  grid-column-start: 1;
  grid-column-end: 3;
}
button[data-submit] {
  grid-column-start: 3;
  grid-column-end: 5;
}
button[data-next] {
  grid-column-start: 5;
  grid-column-end: -1;
}

.step-title {
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
  gap: .25em;
}
.form-group:last-child {
  margin: 0;
}
.form-group > label {
  font-weight: bold;
  font-size: .8em;
  color: #333;
}
.form-group > input {
  border: 1px solid #333;
  border-radius: .25em;
  font-size: 1rem;
  padding: .25em;
}

button {
  color: var(--clr-light);
  font-weight: var(--fw-bold);
  cursor: pointer;
  background-color: var(--clr-accent);
  padding: 0.5rem 1.5rem;
}
button:hover {
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.24),0 9px 25px 0 rgba(0,0,0,0.19);
  border-style: groove;
}
/* animation
------------------------------------ */

div.card.active {
  animation: slide 250ms 125ms ease-in-out both;
}

@keyframes slide {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(.75);
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* footer
---------------------------------------------------------------------------- */
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}

footer {
  text-align: center;
  opacity: 1;
}
footer span {
  display: inline-block;
  font-size: 0.8rem;
}
footer a {
  font-size: 0.8rem;
  text-decoration: none;
}

footer a:hover {
  color: var(--clr-dark);
  font-weight: var(--fw-medium);
  text-decoration: underline;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
}